html{
    background-color: rgb(146, 141, 141);

}

*{
    padding: 0;
    margin: 0;
}


.acesso {

margin-left: 65%;
    
}

input[type=text]{
    
  border-radius: 20px;
  border:1px;
  width: 35%;
  height: 30px;  
}

.btnacess{
    border-radius: 10px;
    margin-left: 72%;
    margin-top: 3%;
    width: 17%;
    height: 30px;
    border: aliceblue;
    box-shadow: 2px 1px 8px;
    transition: .5s;
    color: black;

}

.btnacess:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


.header-1{
    background-color: rgb(0, 0, 0);
    height: 140px;
}

.ttsp{
    margin-left: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.vendas{
    margin-left: 44%;
    background-color: black;
    width: 150px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ttvds{
    position: relative;
    left: 23px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    color:white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.telaacess {
    
    background-color: rgba(0,0,0,1);
    margin-left: 37%;
    width: 20%;
    height: 420px;
    padding: 25px;
    margin-top: 14px;
    border-radius: 80px;

}

.h-1{
    
    color: white;
    margin-left: 26%;
}

.abc {

    border-radius: 10px;
    margin-left: 72%;
    margin-top: 3%;
    width: 17%;
    height: 30px;
    border: aliceblue;
    box-shadow: 2px 1px 8px;
    transition: .5s;
    color: black;

}

.abc:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.rmv {
    
    border-radius: 10px;
    margin-left: 72%;
    margin-top: 3%;
    width: 17%;
    height: 30px;
    border: aliceblue;
    box-shadow: 2px 1px 8px;
    transition: .5s;
    color: black;

}

.rmv:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


.fina {
    
        
    border-radius: 6px;
    margin-left: 27%;
    margin-top: 65%;
    width: 50%;
    height: 30px;
    border: aliceblue;
    box-shadow: 2px 1px 8px;
    transition: .5s;
    color: black;

}

.fina:hover{

    background-color: rgb(0, 0, 0);
    color: white;
    
    
}
