<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.senac.sp.speedracer.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.AlterarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.CadastraProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.InativarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.InativarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteInativoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.ClienteInativoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.AtivarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVendaServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.CadastrarVendaServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>GerarRelatorioAnaliticoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.GerarRelatorioAnaliticoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioSinteticoServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.GerarRelatorioSinteticoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.senac.sp.speedracer.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <url-pattern>/AlterarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraProdutoServlet</servlet-name>
        <url-pattern>/CadastraProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarProdutoServlet</servlet-name>
        <url-pattern>/InativarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarClienteServlet</servlet-name>
        <url-pattern>/InativarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteInativoServlet</servlet-name>
        <url-pattern>/ClienteInativoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarClienteServlet</servlet-name>
        <url-pattern>/AtivarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVendaServlet</servlet-name>
        <url-pattern>/CadastrarVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioAnaliticoServlet</servlet-name>
        <url-pattern>/protegido/relatorio/GerarRelatorioAnaliticoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioSinteticoServlet</servlet-name>
        <url-pattern>/protegido/relatorio/GerarRelatorioSinteticoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
